.tooltip-arrow-top::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    left: 15%;
    top: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 15px solid white;
    transform: translate(-50%, calc(-100%));
}

.clip {
    animation: circle 2s infinite;
    clip-path: circle(75%);
    transition: clip-path 1s;
}

.clip:hover {
    clip-path: circle(25%);
}

@keyframes circle {
    0% {
        clip-path: circle(75%);
    }
    50% {
        clip-path: circle(25%);
    }
    100% {
        clip-path: circle(75%);
    }
}

.fixed-to-container {
    -webkit-transform: translateZ(0);
}

.dark {
    .bg-texture {
        background-color: #27272a;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2318181b' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
}

.bg-texture {
    background-color: #d6d3d1;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e7e5e4' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.red-debug {
    border: 1px solid red;
}

.green-debug {
    border: 1px solid green;
}

.magenta-debug {
    border: 1px solid magenta;
}
