.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.red-debug {
  border: 1px solid red;
}

.green-debug {
  border: 1px solid green;
}

.magenta-debug {
  border: 1px solid magenta;
}