.tooltip-arrow-top::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    left: 15%;
    top: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 15px solid white;
    transform: translate(-50%, calc(-100%));
}

.clip {
    animation: circle 2s infinite;
    clip-path: circle(75%);
    transition: clip-path 1s;
}

.clip:hover {
    clip-path: circle(25%);
}

@keyframes circle {
    0% {
        clip-path: circle(75%);
    }
    50% {
        clip-path: circle(25%);
    }
    100% {
        clip-path: circle(75%);
    }
}

.fixed-to-container {
    -webkit-transform: translateZ(0);
}

.red-debug {
    border: 1px solid red;
}

.green-debug {
    border: 1px solid green;
}

.magenta-debug {
    border: 1px solid magenta;
}
